// style for touchpiano
// bas de bruin

$color: #eee;
$background: #222;

$break: 750px;

body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 20px;
}

body {
    font-family: 'Barlow', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 1.7em;
    & * {
        font-weight: normal;
    }
    //
    background: $background;
    color: $color;
    & * {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 1rem;
}

#left {
    @extend .container;

    a {
        display: inline-block;
        background: rgba(250,250,250,0.1);
        color: $color;
        border-radius: 4px;
        text-transform: uppercase;

        padding: 0.5rem 1rem;
        margin: 1rem 0;

        width: auto;

        * {
            margin: 0;
        }

        transition: all .2s;
        &:hover, &:active {
            opacity: 0.9;
            transform: scale(1.02);
        }
    }

    @media (min-width: $break) {
        position: fixed;
        width: 50%;
        max-width: 50%;
        left: 0;
        top: 0;
        margin: 0;
    }
}

#right {
    @extend .container;

    @media (min-width: $break) {
        margin-left: 50%;
        width: 50%;
        max-width: 50%;

        h2 {
            text-align: right;
            margin-bottom: 1.1rem;
            margin-top: 0;
        }
    }
}


// styles
h1, h2, h3 {
    font-weight: 700;
    font-weight: normal;
}
h1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 4rem;
}
h2 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #bbb;
}
h3 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
}

a {
    color: $color;
    text-decoration: none;
    display: block;
    font-weight: bold;
    width: 100%;
}

ul {
    a {
        display: block;
        background: $color;
        color: $background;
        border-radius: 4px;

        padding: 0.5rem 1rem;
        margin: 1rem 0;

        * {
            margin: 0;
        }

        transition: all .2s;
        &:hover, &:active {
            opacity: 0.9;
            transform: scale(1.02);
        }
    }
}


// for play.html

.canvas-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    // !!! REALLY IMPORTANT FOR TOUCH Y POSITION:
    touch-action: none;
}

#back-arrow {
    position: fixed;
    left: 0.9rem;
    top: 0.7rem;
    background: $color;
    color: $background;
    text-decoration: none;
    font-size: 1rem;
    z-index: 999;
    padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;

    pointer-events: all;

    transition: all .2s;
    &:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }
}